<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty.beauty_sales_dwh.mapper.RawCategoryMapper">

    <insert id="insertRawCategory">
        INSERT INTO raw.categories (
            app_company_id,
            json_body,
            fetched_at
        ) VALUES (
            #{companyId},
            #{jsonBody}::jsonb,
            CURRENT_TIMESTAMP
        )
    </insert>

</mapper>