<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty.beauty_sales_dwh.mapper.RawCustomerMapper">

    <insert id="insertRawCustomer">
        INSERT INTO raw.customers (
            app_company_id,
            json_body,
            fetched_at
        ) VALUES (
            #{companyId},
            #{jsonBody}::jsonb,
            CURRENT_TIMESTAMP
        )
    </insert>

    <select id="findMaxFetchedAt" resultType="java.time.OffsetDateTime">
        SELECT MAX(fetched_at)
        FROM raw.customers
    </select>

</mapper>
